.contact-us_wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align content to the left */
}

.contact-link {
    display: flex;
    align-items: center;
    text-decoration: none; /* Remove underline from link */
    color: inherit; /* Use the inherited text color */
}

.contact-link i {
    margin-right: 8px; /* Space between icon and phone number */
    font-size: 18px; /* Adjust icon size */
}

.phone-number {
    font-size: 16px; /* Adjust font size for the phone number */
}

.support-text {
    margin-top: 4px; /* Space between phone number and support text */
    font-size: 14px; /* Adjust font size for support text */
    color: #666; /* Optional: Change text color for support text */
}

  .whatsapp-button {
    position: fixed;  /* Fixed position to keep it visible */
    bottom: 20px;     /* Distance from the bottom of the screen */
    left: 20px;       /* Distance from the left of the screen */
    background-color: #25d366; /* WhatsApp green */
    color: white;
    padding: 5px;
    border-radius: 50px;
    font-size: 18px;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    z-index: 9999;   /* Ensures the button stays on top of other elements */
  }

  .whatsapp-button i {
    margin-right: 8px;
  }

  .whatsapp-button:hover {
    background-color: #1da851;
  }




